.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../imagens/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    display: flex;
    align-items: center;
}

.container__botao:checked~ .container__rotulo>.cabecalho__menu-hamburguer {
    background-image: url("../imagens/Menu\ Aberto.svg");
}

.container__botao:checked~.container__rotulo {
    background: var(--azul-degrade);
}

.container__botao:checked ~ .lista-menu {
    display: block;
    width: auto;
}

.container__botao {
    display: none;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1.5em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.container__titulo {
    display: none;
}

.container__texto {
    display: none;
}

.opcoes {
    display: none;
}

@media screen and (min-width: 1024px) {
    .container__titulo,
    .container__titulo__negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo__negrito {
        font-weight: 700;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .opcoes {
        display: flex;
        text-transform: uppercase;
        color: var(--preto);
    }

    .opcoes__item {
        padding: 2em 1em;    
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .container__imagem-transparente {
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao:checked~.opcoes__rotulo>.opcoes__item {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }

    .opcoes__botao {
        display: none;
    }
}

@media screen and (min-width: 1728px) {
    .cabecalho {
        padding: 0 2em;
    }
    
    .opcoes {
        margin-right: auto;
    }
    
    .container__link {
        display: flex;
        align-items: center;
        color: var(--preto);
        font-size: 20px;
        text-decoration: none;
    } 
    
    .container__texto {
        display: block;
     }   
}
