hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1em;
}

.rodape__lista {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
        background-color: var(--cinza);
    }

    .rodape__lista {
        display: block;
    }

    .rodape__titulo {
        font-size: 24px;
    }

    .rodape__lista-titulo {
        font-size: 14px;
        text-transform: uppercase;
        color: var(--cinza-claro);
    }

    .rodape__lista-item {
        display: flex;
        align-items: center;
        margin: 1em 0;
    }

    .rodape__lista-link {
        color: var(--cinza-escuro);
        text-decoration: none;
        margin-left: 0.5em;
    }
}

@media screen and (min-width: 1728px) {
    .rodape {
        padding: 5em 0;
    }

    .rodape__lista {
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1em;
    }
}